<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><!-- TITLE --></title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <!-- BODY -->
    <div class="couplet-header">Verse 1</div>
    <div class="couplet">
      <span class="chord-wrapper"><span class="chord">C</span></span>Somewhere <span class="chord-wrapper"><span class="chord">Em</span></span>over the rainbow.. <br/>
      <span class="chord-wrapper"><span class="chord">C</span></span>Somewhere <span class="chord-wrapper"><span class="chord">Em</span></span>over the rainbow..
    </div>

    <div class="couplet-header">Verse 2</div>
    <div class="couplet">
      <span class="chord-wrapper"><span class="chord">C</span></span>Somewhere <span class="chord-wrapper"><span class="chord">Em</span></span>over the rainbow..
    </div>

  </body>
</html>
