div.couplet {
  margin-bottom: 15pt;
}

pre {
  border: 0;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

pre.lyrics, pre.chords, pre.couplet-header {
  font-family: Menlo;
  font-size: 10pt;
  line-height: 15pt;
}

pre.couplet-header {
  font-weight: bold;
}

pre.lyrics {

}

pre.chords {
  color: #6bc8fc;
}
