body {
  margin: 0px;
  font-family: Menlo; /* FONT-FAMILY */
  font-size: 16px; /* FONT-SIZE */
}

div.couplet-header {
  font-weight: bold;
  margin-bottom: 16px;
}

div.couplet {
  line-height: 48px; /* LINE-HEIGHT */
}

span.chord-wrapper {
  position: relative;
}

span.chord {
  position: absolute;
  left: 0px;
  bottom: 16px; /* ? */
  color: #6bc8fc; /* CHORD-COLOR */
  line-height: 16px; /* FONT-SIZE */
}
